apiVersion: v1
kind: Secret
metadata:
  name: backblaze-b2-secret
  namespace: longhorn-system
type: Opaque
data:
  AWS_ACCESS_KEY_ID: {{ accessKey | b64encode }}
  AWS_SECRET_ACCESS_KEY: {{ secretKey | b64encode }}
  AWS_ENDPOINTS: {{ serviceEndpoint | b64encode }}
