apiVersion: v1
kind: ConfigMap
metadata:
  name: nitter-config
  namespace: nitter
data:
  nitter.conf: |
    [Server]
    address = "0.0.0.0"
    port = 8080
    https = false
    httpMaxConnections = 1000
    staticDir = "./public"
    title = "{{ nitterDomain }}"
    hostname = "{{ nitterDomain }}"

    [Cache]
    listMinutes = 240
    rssMinutes = 10
    redisHost = "redis-master.redis-cluster.svc.cluster.local"
    redisPort = 6379
    redisPassword = ""
    redisConnections = 20
    redisMaxConnections = 30

    [Config]
    hmacKey = "{{ secretkey }}"
    base64Media = false
    enableRSS = true
    enableDebug = false
    proxy = ""
    proxyAuth = ""
    tokenCount = 10

    [Preferences]
    theme = "pleroma"
    replaceTwitter = "{{ nitterDomain }}"
    replaceYouTube = "yewtu.be"
    replaceReddit = "teddit.net"
    replaceInstagram = "bibliogram.pussthecat.org"
    proxyVideos = false
    hlsPlayback = true
    infiniteScroll = true
